body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: #000000c9; */
    color: rgb(255, 254, 254) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.brand-logo,
h2 {
    font-family: 'Grand Hotel', cursive;
}

.mycard {
    margin-top: 30px;
}

.auth-card,
.CreatePost-Card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 20px;
}

input,
select,
textarea {
    color: rgb(255, 255, 255);
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.profile {
    max-width: 550px;
    margin: 0px auto;
}

.profile-header {
    display: flex;
    margin: 18px 18px 18px 18px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(90, 90, 90) !important;
}

.profile-header>img {
    margin-right: 20px !important;
}

.profile-data {
    display: flex;
    justify-content: space-between;
}

.profile-data>h6 {
    margin-right: 20px !important;
}

.profile-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;
    position: relative;
}

.gallery-item {
    width: 30%;
    max-height: 50px;
    min-height: 250px;
    cursor: pointer;
}

.home-card,
.CreatePost-Card {
    max-width: 400px;
    height: max-content;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
}

.home-card {
    background: transparent;
    box-shadow: none;
}

.card-image>img {
    min-height: 400px;
    max-height: 400px;
}

.header-Post {
    background-color: rgb(121, 121, 121);
    border-radius: 20px 20px 0 0;
}

.headerPost {
    display: flex;
    /* justify-content: space-around; */
    width: 350px;
    max-height: 100px;
}

.headerImage {
    margin: 0;
    left: 0;
}

.headerImage>img {
    margin: 15px;
    border-radius: 50px;
    height: 70px;
}

.header-content {
    max-width: max-content;
}

.card-content {
    border-radius: 0 0 20px 20px !important;
}

.text-card {
    overflow-wrap: break-word;
    max-height: 250px;
    overflow-y: scroll;
}

.text-card2 {
    max-height: 150px;
}

.text-card::-webkit-scrollbar,
.comments::-webkit-scrollbar {
    display: none;
}

.info {
    display: flex;
}

h3 {
    margin: 0 !important;
    padding: 0 !important;
}

.collection-item {
    width: 100%;
}

.heart-icon {
    position: absolute;
    left: 34%;
    top: 35%;
    filter: alpha(opacity=50);
}

#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover {
    cursor: pointer;
}

.liked {
    color: red
}

.disliked {
    color: black
}

.comments {
    max-height: 50px;
    overflow-y: auto;
}

.Back-btn {
    margin: 15px 0 0 15px !important;
}