body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000000c9;
    color: rgb(255, 254, 254) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.brand-logo,
h2 {
    font-family: 'Grand Hotel', cursive;
}

i {
    cursor: pointer;
}

.mycard {
    margin-top: 30px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    height: auto;
    background: rgb(104, 104, 104);
}

.Nav-Tab {
    background: none;
    cursor: pointer;
    padding-top: 2px;
    margin-left: 2px;
    margin: 0;
}

nav ul a:hover {
    background: none;
}

.modal-content,
.modal-footer {
    background-color: rgb(0, 0, 0) !important;
}

.modal-content input {
    color: white;
}

.large {
    font-size: 2em !important;
}

.search {
    background-color: rgb(0, 0, 0) !important;
    overflow-y: scroll;
}

.search-item {
    width: 100%;
    font-size: 25px;
    text-align: left;
    padding-top: 0 !important;
    border-bottom: 3px solid rgba(255, 255, 255);
    height: 50px;
    padding-left: 10px;
}

.modal-footer>button {
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.Follow-btn {
    background: whitesmoke;
}

.auth-card,
.CreatePost-Card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 20px;
}

.CreatePost-Card {
    height: 400px !important;
}

input,
select,
textarea {
    color: rgb(255, 255, 255);
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.profile {
    max-width: 600px;
    margin: 0px auto;
}

.profile-header {
    display: flex;
    margin: 18px 18px 18px 18px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(90, 90, 90) !important;
}

.profile-header>img,
.profile-header>div>img {
    margin-right: 20px !important;
}

.profileData>h5 {
    font-size: 1.2em !important;
}

.profile-data {
    display: flex;
    justify-content: space-between;
}

.profile-data>h6 {
    margin-right: 10px !important;
    font-size: 1.2em !important;
}

.profile-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;
    position: relative;
}

.gallery-item {
    width: 30%;
    max-height: 50px;
    min-height: 250px;
    cursor: pointer;
    margin-bottom: 10px;
}

.home-card,
.CreatePost-Card {
    max-width: 400px;
    height: max-content;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
}

.CreatePost-Card {
    max-height: 600px
}

.home-card {
    background: transparent;
    box-shadow: none;
}

.card-image>img {
    min-height: 400px;
    max-height: 400px;
}

.header-Post {
    background-color: rgb(121, 121, 121);
    border-radius: 20px 20px 0 0;
}

.headerPost {
    display: flex;
    /* justify-content: space-around; */
    width: 350px;
    max-height: 100px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.headerImage {
    margin: 0;
    left: 0;
}

.headerImage>img {
    margin: 15px;
    border-radius: 50px;
    height: 70px;
    max-width: 80px;
}

.header-content {
    max-width: max-content;
}

.card-content {
    border-radius: 0 0 20px 20px !important;
}

.text-card {
    overflow-wrap: break-word;
    max-height: 250px;
    overflow-y: scroll;
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.text-card2 {
    max-height: 150px;
    margin-top: 10px;
}

.text-card::-webkit-scrollbar,
.comments::-webkit-scrollbar,
.search::-webkit-scrollbar {
    display: none;
}

.info {
    display: flex;
}

h3 {
    margin: 0 !important;
    padding: 0 !important;
}

.heart-icon {
    position: absolute;
    left: 34%;
    top: 35%;
    filter: alpha(opacity=50);
}

#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover {
    cursor: pointer;
}

.liked {
    color: red
}

.disliked {
    color: black
}

.comments {
    max-height: 50px;
    overflow-y: auto;
}

.comments>h6 {
    overflow-wrap: break-word;
    max-width: 350px;
    min-width: 325px;
    display: flex;
    flex-direction: row;
}

.comments>h6>div {
    padding-left: 5px;
    min-width: 270px;
}

.Back-btn {
    margin: 15px 0 0 15px !important;
}